.vaccines-container {
  background-color: #ff4081;
  color: #121212;
  padding: 32px;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.vaccine-card {
  background-color: #121212;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 12px 36px rgba(255, 64, 129, 0.7);
  transition: background-color 0.4s ease;
  color: #ff4081;
  cursor: pointer;
}

.vaccine-card:hover {
  background-color: #ff79a8;
  color: #121212;
}
